.footer {
  margin-block-end: 4vh;
}

.footer a {
  text-decoration: none;
  color: #007bb6;
}

.footer a:hover {
  color: #fff;
  transition: 0.3s;
}

.icons {
  font-size: 1.8em;
  padding: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.icons a {
  margin: 4px;
}
